.material-icons{display:inline-block;vertical-align:middle}
ul{list-style-type:none;padding-left:5px}
a{color:#fff!important}
body{background-attachment:fixed;background-position:center;color:#fff}
h2{margin-top:0;margin-bottom:0}
.well{min-height:555px}
.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{padding-right:12px;padding-left:12px}
.btn,.input-group-btn .btn{padding:8px 20px}
.well{padding-bottom:0!important;margin-bottom:0!important}
#col1,#col5{background-color:rgba(255,160,0,0.88);color:#fff}
#col2,#col6{background-color:rgba(229,57,53,0.88)}
#col3,#col7{background-color:rgba(76,175,80,0.88)}
#col4,#col8{background-color:rgba(0,188,212,0.88)}
#col5,#col6,#col7,#col8{margin-top:0!important;padding-top:0!important}