body {
	text-align: center;
	font-size: 36px;
	font-family: 'Lato', sans-serif;
	background-color: #03396c;
	color: #b3cde0;
}

.maintext {
	margin-top: 250px;
}

a {
	text-decoration: overline;
	color: #b3cde0;
}